langchain
langchain-community
langchain-groq
langchain-ollama
langchain-google-genai
langchain-text-splitters
langchain-qdrant
qdrant-client
fastembed
streamlit
python-dotenv
youtube-transcript-api
rank-bm25
yt-dlp
fpdf2
requests
faster-whisper
