langchain
langchain-community
langchain-groq
langchain-ollama
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langchain-qdrant
qdrant-client
sentence-transformers
streamlit
python-dotenv
youtube-transcript-api
rank-bm25
yt-dlp
fpdf2
